@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Water+Brush&display=swap');
@import url('https://fonts.cdnfonts.com/css/minerva-modern-font-family');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Water+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  box-sizing: border-box;
}
body{
  max-width: 100%;
}
/* -------navbar---------- */
.header {
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 100;
  transition: all 0.35s ease;
  padding: 20px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 1424px;
  margin: auto;
}

.imagelogo {
  height: 74px;
}

.menu {
  width: 50%;
}

.menu-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Minerva Modern';
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F47725;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.btn{
  padding: 22px 41px 22px 41px;
  border: none;
  font-size: 21px;
}
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  position: relative;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}



.burger.is-active .burger-line:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}

.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -7px;
}
.line {
  width: 100%;
}
.line img {
  width: 100%;
  padding-top: 20px;
}
/* ------------card-----------*/
.side-img{
    margin-top: 150px;
}

.Comprehensive-Service {
    max-width: 70%;
    margin: auto;
    text-align: center;
}
.card-container{
    -webkit-box-shadow: 0px 0px 29px 1px rgba(247,208,180,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(247,208,180,1);
    box-shadow: 0px 0px 29px 1px rgba(247,208,180,1);
    margin-top: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-content {
    line-height: 50px;
  }
.text-content h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    font-family: 'Minerva Modern';
}
.text-content p {
    font-size: 16px;
    color: #838383;
    line-height: 25px;
    font-family: 'Lato';
}
.card-1{
    width: 250px;
}
.card-img img{
    margin-top: 20px;
    width: 250px;
}
.card-img-2 img{
    margin-top: 20px;
    width: 250px;
}
.card-content{
    width: 250px;
    text-align: start;
}
.card-content-2{
    width: 200px;
    text-align: start;
}
.card-content a{
    text-decoration: underline;
    background-color: transparent;
    border: none;
    color: #f47725;
    line-height: 100px;
}
.card-content-2 a{
    text-decoration: underline;
    background-color: transparent;
    border: none;
    color: #f47725;
    line-height: 100px;
}
.text {
  margin-top: 100px;
  text-align: center;
}
.text img {
  height: 30px;
}
.text span {
  display: inline-block;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Poppins';
  padding: 30px;
}
.text .tealcolor {
  color: #23b4a7;
}
.text .orangecolor {
  color: #f47725;
}
.text .pinkredcolor {
  color: #E01C4C;
}
.text .yellowcolor {
  color: #FFC412;
}
/* -------------session includes--------- */

.session-container{
    height: 700px;
    background-image: url(images/Untitled-design-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
  }
  
  
  .section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
  }
  
  
  .section5 h1 {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 60px;
    font-weight: 500;
  }
  
  .section5 h2 {
    font-family: "Dancing Script";
    font-size: 40px;
    font-weight: 500;
    line-height: 80px;  
  }
  .section5 p{
    font-size: 16px;
      font-weight: 500;
      color: #333333;
      line-height: 30px;
      max-width: 1124px;
      margin: auto;
  }
  
  .btn {
    padding: 12px 25px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .text-content h2 {
    font-size: 35px;
    font-weight: 400;
    font-family: "water brush";
    color: #36baaf;
  }
  .text-content h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    font-family: 'Minerva Modern';
  }
  .text-content p {
    font-size: 16px;
    color: #838383;
    line-height: 25px;
    font-family: 'Lato';
  }
  /* ------------contact us form--------- */
.contact-container {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
  }
  
  .about-us,
  .service,
  .contant-us,
  .text-content {
    max-width: 1124px;
    margin: auto;
    text-align: center;
  }
  .text-content h2 {
    font-size: 35px;
    font-weight: 400;
    font-family: "water brush";
    color: #36baaf;
  }
  .text-content h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    font-family: 'Minerva Modern';
  }
  .text-content p {
    font-size: 16px;
    color: #838383;
    line-height: 25px;
    font-family: 'Lato';
  }
  .contact-us-form form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-us-form form input,
  #msg {
    width: 530px;
    height: 60px;
    padding-left: 20px;
    background: #c2c2c2;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 40px;
    color: #fff;
  }
  .contact-us-form form input::placeholder,
  #msg::placeholder {
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
  }
  .contact-us-form form #msg {
    width: 1170px;
    height: 140px;
    padding-top: 20px;
  }
  .contact-us-form form button {
    background-color: #f47725;
    color: #fff;
    border: none;
    margin-top: 50px;
    text-align: center;
    margin-left: 41%;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    padding: 22px 41px 22px 41px;
  }
  /* ----------footer---------- */
  
  .footer-container{
      width: 100%;
      height: 140px;
      background-image: url(images/Group\-32.png);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding-top:20px;
  }
  .content-container{
      width: 75%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .information p{
      font-size: 17px;
      font-weight: 700;
      font-family:'Poppins';
  }
  .logo img{
      width: 190px;
      height: 90px;
  }
  .application{
      margin-top: 10px;
      text-align: end;
  }
  /* ----------btn hover------------ */
  
  .btn{
    background-color: #F47725;
    padding: 12px 25px;
    /* background-color: #47C0B5; */
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 5px;

}

#btn-button118 {
  --bg-color: 
#f8f9fd;
  --text-color: 
#fff;
  --mian-color: 
  #f47725;
}

#btn-button118 .btn,.btn2,.btn3 {
  display: inline-block;
  background: var(--mian-color);
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
}

#btn-button118.btn:hover {
  box-shadow: 0 0 2rem var(--mian-color);
}
#btn-button118.btn2:hover {
  box-shadow: 0 0 2rem var(--mian-color);
}
#btn-button118.btn3:hover {
  box-shadow: 0 0 2 rem var(--mian-color);
}

#btn-button118 span {
  color: var(--text-color);
  
}